.container-barchart {
    min-height: 60vh;
    margin: 5% 20%;
    transition: ease-in-out .3s;
}

.container-barchart:hover {
    box-shadow: 1px 1px 3px 2px #979494;
    transition: ease-in-out .3s;
}