header {
    background: rgb(92, 75, 189);
    width: 100vw;
    padding: 1.2em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    
}

header a {
    font-weight: bold;
    font-size: larger;
    color: #fff;
    text-decoration: none;
    margin: 0 5%;
}